.tblcontainer {
  height: 100%;
  .datatableConatiner {
    max-height: 100%;
    min-height: 100%;

    // margin-top: 20px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 15px;
    div [data-column-id] {
      // background-color: aqua;
      font-size: 16px;
      text-align: center;
      width: 100%;
      white-space: initial;
    }

    .rdt_TableHead {
      font-weight: 700;
      // z-index: inherit;
    }
  }

}


.inputText {
  width: 100%;
  padding: 0 10px 0 10px;
  input {
    width: 100%;
  }
}

.actionBtns {
  padding: 0 10px;
  display: flex;

  .btnToogleOn {
    background-color: #5481ff;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    // margin-top: 20px;
    cursor: pointer;
  }
  .btnRemove {
    margin-left: 5px;
    background-color: transparent;
    border: 1px solid gray;
    width: 30px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
  }
  .btnDisabled {
    background-color: rgb(167, 167, 167) !important;
    cursor: default;
  }
  .btnOff {
    background-color: rgb(207, 74, 74);
  }
}